
<div class="box box-primary">
    <div class="box-body box-profile">
        <img class="profile-user-img img-circle" src="~/Content/Upload/@ViewBag.User.Image">

        <h3 class="profile-username text-center">@ViewBag.User.Username</h3>

        <p class="text-center text-muted" style="font-size: 14px;">@ViewBag.User.Name</p>
</div>
</div>

<p class="title-userBox">Turn off the light</p>
<div class="doc_switch">
    <label for="something" class="tab-btn tab-btns"><i class="icon_lightbulb_alt"></i></label>
    <input type="checkbox" name="something" id="something" class="tab_switcher">
    <label for="something" class="tab-btn"><i class="far fa-moon"></i></label>
</div>